body {
    margin: 0;
    font-family: 'Stalinist One', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #FB7C05;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.tituloHeader{
    display: inline-flex;
    align-items: center;
}

.tituloHeader > a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.tituloHeader > a:hover{
    color: white;
}

.tituloHeader > img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 15px;
}

.container {
    text-align: center;
    padding: 20px;
}

.banner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.linksHeader > a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Stalinist One', sans-serif;
    font-size: large;
}

.linksHeader > a:hover {
   color: #e1e1e1;
    text-decoration: underline;
}

#TodosOsConsoles{
    width: 20vw;
    margin-left: 2vw;

    border-radius: 15px;
    border: 2px solid rgb(210, 210, 210);
    padding: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    height: 80vh;
    overflow-y: auto;

    scrollbar-color: rgb(210, 210, 210) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

.console{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 5vw;
    padding: 10px;
    border-bottom: 1px solid rgb(210, 210, 210);
    transition: all 0.3s ease-in-out;
}

.console:hover{
    transform: scale(1.1);
    background-color: #e1e1e1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.302);
}

.console > img{
    display: inline-flex;
    height: 100%;
    width: 40%;
    border-radius: 10px;
}

.console > p {
    display: inline-flex;
    text-align: right;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.empresa{
    padding-bottom: 0px;
}

.empresa > h4{
    text-align: center;
    border-bottom: 1px solid black;
}

#TodosOsConsoles > h4{
    text-align: center;
    border-bottom: 1px solid black;
}

#InformacoesConsole{
    display: inline-flex;
    flex-direction: column;
    width: 60vw;

    margin-left: 1vw;
    border-radius: 10px;
    background-color: #d6f4ff;
    padding: 10px;

    opacity: 0;

    transform: translateY(10px);
    transition: all 0.5s ease-in-out;

    height: 80vh;
    overflow-y: auto;

    scrollbar-color: rgb(210, 210, 210) rgba(255, 255, 255, 0);
}

#InformacoesConsole.Exibir{
    opacity: 1;
    transform: translateY(0);
}


#TopoDasInformacoes > p{
    font-family: Arial, Helvetica, sans-serif;
}

#AreaDePesquisaDasInformacoes{
    margin-bottom: 20px;
}

h3{
    text-align: center;
}


.jogos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.jogo {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 300px;

    transition: all 0.3s ease-in-out;
}

.jogo:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px #00000042;
}

.jogo>img {
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.jogo > h3 {
    margin-top: 10px;
    font-size: 12px;
    color: #333;
}

.jogo > button { 
    align-self: center; 
    margin-top: 10px; 
    padding: 10px 20px; 
    background-color: #00AEEF; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
    transition: background-color 0.3s ease; 
} 

.jogo > button:hover { 
    background-color: #008CBF; 
}

h4{
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
}

#SaibaMaisJogo{
    position: fixed;
    display:block;

    top: 100vh;

    width: 80vw;
    height: 70vh;
    background-color: #5f8fff;
    border-radius: 20px;
    padding: 50px;

    left: 50%; 
    transform: translateX(-50%);

    scrollbar-color: rgb(210, 210, 210) rgba(255, 255, 255, 0);
    scrollbar-width: thin;

    overflow: auto;

    transition: all 0.5s ease-in-out;
    
}

#SaibaMaisJogo > button{
    display: block;
    margin-bottom: 20px;
    background-color: #d6f4ff;
    border-radius: 30px;
    border: None;
    padding: 10px;
    font-weight: bold;

    transition: all 0.3s ease-in-out;
}

#SaibaMaisJogo > button:hover{
    transform: scale(1.05);
}

.Conteudo{
    display: flex;
    overflow-y: auto;
}

.Conteudo > img{
    width: 20vw;
    height: 20vw;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.Textos{
    display: flex;
    flex-direction: column;
}

.Textos > h3{
    display: block;
    width: 55vw;
    border-bottom: 1px solid black;
}

.Textos > p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#SaibaMaisJogo.exibir{
    top: 30vh;
}

.lojasOficiais{
    display: block;
    margin-bottom: 20px;
}

.lojasOficiais > a{
    text-decoration: none;
    color: black;
}

.lojasOficiais > a > button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

    background-color: #0084ff;
    border: none;
    font-weight: bold;
    font-size: 15px;

    transition: all 0.3s ease-in-out;
}

.lojasOficiais > a > button:hover{
    transform: scale(1.1);
}

.lojasOficiais > a > button > img{
    height: 100%;
    width: 50px;
}

#gameplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

#gameplay > img{
    width: 20%;
    height: 100px;
    border-radius: 10px;
    margin: 15px;
}

.NomePlataforma{
    border-bottom: 0;
}